h1 {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

.md_button {
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 10px auto 0 auto;
    padding: 8px;
    background: #e66d1d;
    border: none;
    color: white;
    font-size: 1.1em;
}
.md_button:not(:disabled):hover { background: #fe7216; }
.md_button:disabled {
    background: #999;
    color: #555;
}

.md_footer {
    display: flex;
    padding-top: 2px;
    border-top: 1px solid #ccc;
}
.md_footer > * {
    flex: 1;
    margin: 0;
    padding: 0;
}

.md_table {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}
.md_table th {
    padding: 4px;
    text-align: left;
}
.md_table td {
    padding: 4px;
    border: 1px solid #ddd;
}
.md_table tbody tr:nth-child(2n + 1) { background: #f2f2f2; }
.md_table tbody tr:nth-child(2n) { background: #f8f8f8; }